<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>9D03DDCD-9B2A-4EEE-87D9-9C19C14AF610</string>
			<string>8E5817A9-709A-44F5-9B06-CA7E5A4D253E</string>
			<string>6111D11C-C929-48BB-A0E1-FFABDB6013EB</string>
			<string>0027C646-E429-468E-88F8-41F6150C5489</string>
			<string>6B177047-F1BC-41D4-B6AF-430AA30C8C28</string>
			<string>1AE65B8F-AFB1-4F71-9A4B-7B35EC7E61FD</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>0027C646-E429-468E-88F8-41F6150C5489</key>
			<dict>
				<key>items</key>
				<array>
					<string>A5EA5198-17DD-46F3-9181-C12AE01BE61B</string>
					<string>E3303EA9-E3EB-4DE2-9002-D88014B96C64</string>
				</array>
				<key>name</key>
				<string>JavaScript</string>
			</dict>
			<key>005B6C08-9926-4161-8D03-019D2B0C4B2E</key>
			<dict>
				<key>items</key>
				<array>
					<string>61C86136-7EA1-4C13-958B-BAE1693FD30C</string>
				</array>
				<key>name</key>
				<string>Shoulda</string>
			</dict>
			<key>6B177047-F1BC-41D4-B6AF-430AA30C8C28</key>
			<dict>
				<key>items</key>
				<array>
					<string>63B49D53-DD58-4E12-AD48-3E63814F108C</string>
				</array>
				<key>name</key>
				<string>Ruby</string>
			</dict>
			<key>8E5817A9-709A-44F5-9B06-CA7E5A4D253E</key>
			<dict>
				<key>items</key>
				<array>
					<string>2CC28748-F6EC-437E-B49B-9F596B569D02</string>
					<string>1DF3BC86-B0BB-44D0-929F-389239AC7FAC</string>
				</array>
				<key>name</key>
				<string>General</string>
			</dict>
			<key>9D03DDCD-9B2A-4EEE-87D9-9C19C14AF610</key>
			<dict>
				<key>items</key>
				<array>
					<string>21CAED72-0D8F-4646-8F66-F9835A8E229A</string>
					<string>FD93A74C-9A68-41DA-8256-CBD97B5C4C6E</string>
				</array>
				<key>name</key>
				<string>CSS</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>wfernandes</string>
	<key>ordering</key>
	<array>
		<string>1DF3BC86-B0BB-44D0-929F-389239AC7FAC</string>
		<string>E3303EA9-E3EB-4DE2-9002-D88014B96C64</string>
		<string>61C86136-7EA1-4C13-958B-BAE1693FD30C</string>
		<string>A5EA5198-17DD-46F3-9181-C12AE01BE61B</string>
		<string>2CC28748-F6EC-437E-B49B-9F596B569D02</string>
		<string>21CAED72-0D8F-4646-8F66-F9835A8E229A</string>
		<string>FD93A74C-9A68-41DA-8256-CBD97B5C4C6E</string>
	</array>
	<key>uuid</key>
	<string>E1C6EDC7-DD2A-47AE-98E0-C6431EF22659</string>
</dict>
</plist>
